In [23]:
import pandas as pd
import numpy as np

#Importing and clearing the dataset.
'''
In this code we have imported the dataset which details the statistics of the football teams taking part in the FIFA world cup. 
After importing this dataset, we have proceed to organize the data_Set on the basis of classifications: Group and Team. 
We proceed to declutter and clean the data by dropping statistics that are irrelavant to our narrative
'''

group_stats = pd.read_csv("group_stats.csv") #importing the dataset
group_stats = group_stats.pivot_table(index = ["group","team"]) #index has been designated
group_stats = group_stats.drop(columns= ["Unnamed: 0","exp_goal_conceded","exp_goal_difference","exp_goal_difference_per_90","expected_goal_scored"]) #clearing irrelavant data
group_stats

                      draws  goal_difference  goals_against  goals_scored  \
group team
1     Ecuador             1                1              3             4
      Netherlands         1                4              1             5
      Qatar               0               -6              7             1
      Senegal             0                1              4             5
2     England             1                7              2             9
      IR Iran             0               -3              7             4
      United States       2                1              1             2
      Wales               1               -5              6             1
3     Argentina           0                3              2             5
      Mexico              1               -1              3             2
      Poland              1                0              2             2
      Saudi Arabia        0               -2              5             3
4     Australia           0               -1              4             3
      Denmark             1               -2              3             1
      France              0                3              3             6
      Tunisia             1                0              1             1
5     Costa Rica          0               -8             11             3
      Germany             1                1              5             6
      Japan               0                1              3             4
      Spain               1                6              3             9
6     Belgium             1               -1              2             1
      Canada              0               -5              7             2
      Croatia             2                3              1             4
      Morocco             1                3              1             4
7     Brazil              0                2              1             3
      Cameroon            1                0              4             4
      Serbia              1               -3              8             5
      Switzerland         0                1              3             4
8     Ghana               0               -2              7             5
      Korea Republic      1                0              4             4
      Portugal            0                2              4             6
      Uruguay             1                0              2             2

                      losses  matches_played  points  rank  wins
group team
1     Ecuador              1               3       4     3     1
      Netherlands          0               3       7     1     2
      Qatar                3               3       0     4     0
      Senegal              1               3       6     2     2
2     England              0               3       7     1     2
      IR Iran              2               3       3     3     1
      United States        0               3       5     2     1
      Wales                2               3       1     4     0
3     Argentina            1               3       6     1     2
      Mexico               1               3       4     3     1
      Poland               1               3       4     2     1
      Saudi Arabia         2               3       3     4     1
4     Australia            1               3       6     2     2
      Denmark              2               3       1     4     0
      France               1               3       6     1     2
      Tunisia              1               3       4     3     1
5     Costa Rica           2               3       3     4     1
      Germany              1               3       4     3     1
      Japan                1               3       6     1     2
      Spain                1               3       4     2     1
6     Belgium              1               3       4     3     1
      Canada               3               3       0     4     0
      Croatia              0               3       5     2     1
      Morocco              0               3       7     1     2
7     Brazil               1               3       6     1     2
      Cameroon             1               3       4     3     1
      Serbia               2               3       1     4     0
      Switzerland          1               3       6     2     2
8     Ghana                2               3       3     4     1
      Korea Republic       1               3       4     2     1
      Portugal             1               3       6     1     2
      Uruguay              1               3       4     3     1

In [63]:
# 1 Which team in each group has the highest goal difference?

group_stats['goal_difference'] = group_stats['goals_scored'] - group_stats['goals_against'] #defining goal difference
highest_goal_diff_teams = group_stats.groupby('group')['goal_difference'].idxmax().apply(lambda x: x[1]) #indentifying the highest goal-scoring team in each group 
                                                                                                         

for group, team in highest_goal_diff_teams.items():
    print(f"The team with the highest goal difference in Group {group} is {team}")

'''
The lambda function is extracting the second element of each group: which is team in accordance to our query 
'''

The team with the highest goal difference in Group 1 is Netherlands
The team with the highest goal difference in Group 2 is England
The team with the highest goal difference in Group 3 is Argentina
The team with the highest goal difference in Group 4 is France
The team with the highest goal difference in Group 5 is Spain
The team with the highest goal difference in Group 6 is Croatia
The team with the highest goal difference in Group 7 is Brazil
The team with the highest goal difference in Group 8 is Portugal

'\nThe lambda function is extracting the second element of each group: which is team in accordance to our query \n'

In [64]:
# 2 What is the total number of goals scored in each group?

total_goals_by_group = group_stats.groupby('group')['goals_scored'].sum() #calculating the total number of goals scored in each group

for group, total_goals in total_goals_by_group.items():
    print(f"The total number of goals scored in Group {group} is {total_goals}")

The total number of goals scored in Group 1 is 15
The total number of goals scored in Group 2 is 16
The total number of goals scored in Group 3 is 12
The total number of goals scored in Group 4 is 11
The total number of goals scored in Group 5 is 22
The total number of goals scored in Group 6 is 11
The total number of goals scored in Group 7 is 16
The total number of goals scored in Group 8 is 17

In [66]:
# 3 Which team has the highest number of wins in their respective groups?
wins_by_group_team = group_stats.groupby(['group', 'team'])['wins'].sum() #identifying the most winning team in each group
teams_with_most_wins = wins_by_group_team.groupby('group').idxmax().apply(lambda x: x[1]) 

for group, team in teams_with_most_wins.items():
     print(f"The team that has the highest number of wins in their respective group {group} is {team}")

The team that has the highest number of wins in their respective group 1 is Netherlands
The team that has the highest number of wins in their respective group 2 is England
The team that has the highest number of wins in their respective group 3 is Argentina
The team that has the highest number of wins in their respective group 4 is Australia
The team that has the highest number of wins in their respective group 5 is Japan
The team that has the highest number of wins in their respective group 6 is Morocco
The team that has the highest number of wins in their respective group 7 is Brazil
The team that has the highest number of wins in their respective group 8 is Portugal

In [59]:
# 4 How many matches ended in a draw in each group?
draws_by_group = group_stats[group_stats['draws'] == 1].groupby('group').size() 

for group, num_draws in draws_by_group.items():
    
    print(f"The number of matches that ended in a draw in Group {group} is {num_draws}")

The number of matches that ended in a draw in Group 1 is 2
The number of matches that ended in a draw in Group 2 is 2
The number of matches that ended in a draw in Group 3 is 2
The number of matches that ended in a draw in Group 4 is 2
The number of matches that ended in a draw in Group 5 is 2
The number of matches that ended in a draw in Group 6 is 2
The number of matches that ended in a draw in Group 7 is 2
The number of matches that ended in a draw in Group 8 is 2

In [49]:
# 5 Which team had the worst performance in terms of losses and goals against amongst ALL the groups?

'''
To answer this questions we must calculate a performance score that assess teams on the basis of a few performance facets
here, the worst team would be one that has conceeded the most goals and lost the most
'''

# We calculate a performance score: 
group_stats['performance_score'] = group_stats['losses'] + group_stats['goals_against']

# We Find the team with the worst performance
worst_team = group_stats.loc[group_stats['performance_score'].idxmax()].name[1]

print(f"The team with the worst performance in terms of losses and goals against is: {worst_team}")

The team with the worst performance in terms of losses and goals against is: Costa Rica

In [61]:
# 6 Which team had the worst performance in terms of losses and goals against within their own respective groups?

# We calculate performance score
group_stats['performance_score'] = group_stats['losses'] + group_stats['goals_against']

''' 
From the previous question, to find the worst performing team in each group we use the lambda function and 
sequence our analysis on the basis of group.
'''

# We find the team with the worst performance in each group
worst_teams_by_group = group_stats.groupby('group')['performance_score'].idxmax().apply(lambda x: x[1])

for group, team in worst_teams_by_group.items():
    
    print(f"The team with the the worst performance in Group {group} is {team}")

The team with the the worst performance in Group 1 is Qatar
The team with the the worst performance in Group 2 is IR Iran
The team with the the worst performance in Group 3 is Saudi Arabia
The team with the the worst performance in Group 4 is Australia
The team with the the worst performance in Group 5 is Costa Rica
The team with the the worst performance in Group 6 is Canada
The team with the the worst performance in Group 7 is Serbia
The team with the the worst performance in Group 8 is Ghana

In [70]:
# 7 which team had the best performance in terms of victories and goals scored within their own respective groups? 

'''
To answer this questions we must calculate a performance score that assess teams on the basis of a few performance facets
here, the best team would be one that has scored the most goals and won the most
'''

# We calculate performance score
group_stats['performance_score'] = group_stats['wins'] + group_stats['goals_scored']

# We find the team with the best performance in each group
best_teams_by_group = group_stats.groupby('group')['performance_score'].idxmax().apply(lambda x: x[1])

for group, team in best_teams_by_group.items():
    
    print(f"The team with the the best performance in Group {group} is {team}")

The team with the the best performance in Group 1 is Netherlands
The team with the the best performance in Group 2 is England
The team with the the best performance in Group 3 is Argentina
The team with the the best performance in Group 4 is France
The team with the the best performance in Group 5 is Spain
The team with the the best performance in Group 6 is Morocco
The team with the the best performance in Group 7 is Switzerland
The team with the the best performance in Group 8 is Portugal

In [73]:
# 8 Which team had the best performance in terms of wins and goals scored amongst ALL the groups?

'''
To answer this questions we must calculate a performance score that assess teams on the basis of a few performance facets
here, the best team would be one that has scored the most goals and won the most.
'''

# We calculate a performance score: 
group_stats['performance_score'] = group_stats['wins'] + group_stats['goals_scored']

# We Find the team with the worst performance
best_team = group_stats.loc[group_stats['performance_score'].idxmax()].name[1]

print(f"The team with the best performance in terms of wins and goals scored amongst all groups is: {best_team}")

The team with the best performance in terms of wins and goals scored amongst all groups is: England